In [26]:
import pandas as pd
import numpy as np
import random

In [27]:
filename = 'expenses_test.csv' # please specify your file name here
df = pd.read_csv(filename)
df = df.loc[:, :'acc_name']
df.head(3)

     debit  credit     acc_name
0   7982.0     NaN   mail-order
1   5270.0     NaN  warehousing
2  41900.0     NaN         food

In [28]:
expenses_string = "acessories accommodation accounting administrative advertising agents \
allied amortization apparel appliance arts assistance benefits bes beverage book brokerage brokers \
building business care chemical civic clothing commerce commercial commissions commodity \
computer construction contracts couriers dealers depreciation design distilled druggists drugs \
durable electrical electronic electronics entertainment equipment expenditures expense expenses farm fees \
food furnishing furnishings furniture garden gasoline general goods grantmaking grocery hardware health heating \
hobby home houses industries information insurance intermediation leasing legal license lumber machinery mail-order \
maintenance management manufacturing markets material materials merchandise merchant messengers metal mineral mining \
motor music nation nondurable nonstore notions online operating paper parts payroll peripheral personal petroleum \
plumbing product products professional raw recreation related religious remediation rental \
repair retail retailers revenue sales securities service services shipments shopping \
social software sold sporting stations statistics storage store stores sundries supplies \
support systems taxes trade transportation u-s utilities value vehicle warehousing waste wholesale wholesalers"

In [29]:
expenses_string = pd.Series(expenses_string.split(' '))
expenses_string

0          acessories
1       accommodation
2          accounting
3      administrative
4         advertising
            ...
140           vehicle
141       warehousing
142             waste
143         wholesale
144       wholesalers
Length: 145, dtype: object

In [36]:
#selector = np.random.randint(0, len(expenses_string), len(df.acc_name))
#selector =  np.random.random_sample(len(df.acc_name))
selector = random.sample(range(0, len(df.acc_name)), len(df.acc_name))
acc_names = expenses_string[selector].tolist()

In [37]:
acc_names

['book',
 'appliance',
 'administrative',
 'assistance',
 'amortization',
 'accounting',
 'bes',
 'beverage',
 'acessories',
 'advertising',
 'building',
 'brokers',
 'accommodation',
 'brokerage',
 'arts',
 'benefits',
 'apparel',
 'agents',
 'allied']

In [38]:
df.acc_name = acc_names

In [39]:
df.acc_name.duplicated().any()

False

In [40]:
df.to_csv(path_or_buf='expenses_test.csv', index=False)